*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    width: 100%;
    align-items: center;
    justify-content: center;
}

.team-section{
    background: url(./assets/bgk-header.png)no-repeat center ; 
    height: 700px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  background-size: cover;
  
   
}
.cover{
    width: 900px;
    height: 400px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25%;
    
}
.box{
    margin: 10px;
    width: 410px;
    height: 330px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid white;


}
img{
    width: 210px;
    height: 250px;
    display: flex;

    
}
#title{
    color: white;
    text-align: center;
    padding-top: 50px;
}

.cover p,h3{
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 9px;
    color: white;
}
.cover p{
    color: lightgrey;
}
.hiring{
    display: flex;
    text-align: center;
    
}

.h4{
    width: 180px;
  padding: 10px;
  border: 1px solid aquamarine;
  margin: 0;
  text-align: center;
  color: aquamarine;
  margin-left: 45%;
  margin-top: 25px;
}
.paragraph{
    color: white;
    text-align: center;
    padding-top: 1% ;
}