.container {
  background-image: url(back.png);
  width: 1500px;
  height: 600px;
  display: block;
  margin-left: 100px;
  margin-right: 100px;
}

ul {
  list-style-type: line;
  margin-right: 200px;
  color: white;
}

li {
  float: right;
}

li {
  display: block;
  color: white;
  text-align: center;
  padding: 14px;
  padding-top: 30px;
  text-decoration: none;
  font-size: 13px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.creative {
  color: white;
  text-align: center;
  font-family: "Abril Fatface", cursive;
  font-size: 28px;
  padding-top: 65px;
  font-weight: lighter;
}

.first {
  color: lightgray;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 14px;
  text-align: center;
  padding-left: 380px;
  padding-right: 380px;
  padding-top: 10px;
  padding-bottom: 500px;
  margin-bottom: 600px;
}

.line {
  border-color: aqua;
  width: 50px;
}

.logo {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 300px;
  margin-bottom: 0px;
  padding-top: 10px;
}

.button {
  border: line 1px;
  background-color: transparent;
  border-color: aquamarine;
  color: aquamarine;
  line-height: 2.5;

  position: relative;

  font-size: 0.7rem;
  text-align: center;
  left: 700px;
  top: -1050px;
  border-radius: 3px;
}

.title {
  left: 700px;
  top: -750px;
  position: relative;
  font-family: "Abril Fatface", cursive;
  font-size: 25px;
  font-weight: lighter;
}

.p2 {
  left: 700px;
  top: -750px;
  position: relative;
  text-align: left;
  color: grey;
  padding-right: 980px;
  padding-top: 10px;
  padding-bottom: 500px;
  margin-bottom: 600px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.logo1 {
  position: relative;
  bottom: 2080px;
  left: 340px;
  display: inline-block;
  height: 270px;
  width: 270px;
}

.button1 {
  border: line 1px;
  background-color: transparent;
  border-color: turquoise;
  color: turquoise;
  line-height: 2.5;

  padding-right: 15px;
  padding-left: 15px;

  position: relative;

  font-size: 0.7rem;
  text-align: center;
  left: 700px;
  top: -2080px;
  border-radius: 3px;
}

.taj {
  color: turquoise;
  padding-left: 350px;
  padding-bottom: 0px;
  display: flexbox;
  justify-content: flex-start;
  position: relative;
  flex-direction: column;
  bottom: 63px;
  font-family: "Quicksand", sans-serif;
  font-size: 25px;
  font-weight: lighter;
}

.container1 {
  background-image: url(bgk-middle.png);
  width: 1500px;
  height: 600px;
  display: flexbox;
  margin-left: 100px;
  margin-right: 100px;
  position: relative;
  top: -1970px;
  right: 100px;
}

.logo2 {
  position: relative;
  bottom: 2360px;
  left: 650px;
  display: inline-block;
  height: 120px;
  width: 180px;
}

.watch {
  position: relative;
  bottom: 2360px;
  left: 665px;
  color: white;
  height: 120px;
  width: 180px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: lighter;
  font-size: 18px;
}
